body {
  margin: 0;
  background-image: url("https://www.stockvault.net/data/2020/10/02/279355/preview16.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.App {
  font-family: sans-serif;
  padding: 20px;
}

.VideoInput {
  height: 90vh;
  width: 40%;
  border: 1px solid black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
  margin-top: 5%;
}

.VideoInput_input {
  display: none;
}

.VideoInput_video {
  display: block;
  margin: 0;
  width: 80%;
  height: 40%;
}
.button{
  height: 5%;
  width: 15%;
  border-radius: 10px;
  font-size: 20px;
  margin-top: 10px;
  cursor: pointer;
}

.final{
  display: flex;
}
.text{
  margin-left: 5%;
  margin-top: 5%;
  height: 90vh;
  width: 40%;
  border: 1px solid black;
  border-radius: 20px;
  outline: none;
}
.textBox{
  border: none;
  outline: none;
  margin-left: 2%;
  margin-top: 2%;
  background-color: transparent;
  color: black;
}
.save{
  margin: auto;
  padding-left: 45%;
  padding-top: 2%;
  padding-bottom: 2%;
}