body {
  margin: 0;
  /* background-image: url("https://www.stockvault.net/data/2020/10/02/279355/preview16.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%; */
  background-color: black; 
}

.App {
  font-family: sans-serif;
  padding: 20px;
}

.VideoInput {
  height: 90vh;
  width: 60%;
  border: 1px solid black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 1%;
  border: 1px solid white;
  margin-top: 1%;
  margin-right: 1%;
}

.VideoInput_input {
  display: none;
}

.VideoInput_video {
  display: block;
  margin: 0;
  width: 90%;
  height: 90%;
}
.button{
  background-color:#097969;
  height: 8%;
  width: 15%;
  font-size: 20px;
  margin-bottom: 2%;
  cursor: pointer;
}
.select{
  background-color: #097969;
}
.button:hover{
  background-color: #5F9EA0;
}
.final{
  display: flex;
}
.textBox{
  margin-top: 4%;
  margin-right: 1%;
  padding: 1%;
  height: 100%;
  width: 20%;
  overflow: hidden;
  border: 1px solid white;
}
.text{
  color: white;
}
/* .text{
  margin-left: 5%;
  margin-top: 5%;
  height: 90vh;
  width: 40%;
  border: 1px solid black;
  border-radius: 20px;
  outline: none;
}
.textBox{
  border: none;
  outline: none;
  margin-left: 2%;
  margin-top: 2%;
  background-color: transparent;
  color: black;
} */
.save{
  margin: auto;
  padding-left: 45%;
  padding-top: 2%;
  padding-bottom: 2%;
}